body {
	border-top-left-radius: 65px;
				border-top-right-radius: 65px;
	background-color:lightgreen;
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
	
}
h2 {color:red;
  font-family: verdana;
  font-size: 20px;
}
h4 {color:red;
text-align: center;
 padding: 3}
h1 { background-color:yellow;
                padding-top:4px;
				border-top-left-radius: 65px;
				border-top-right-radius: 65px;
 
text-align: center;}
header {
    background-color: #111;
    color: red;
    padding: 1rem;
    text-align: center;
}
h3{
	
color:blue;
text-align: center;}
nav ul {
    padding-top:4px;
				border-top-left-radius: 65px;
				border-top-right-radius: 65px;
	    font-family: Arial, sans-serif;
    list-style: none;
    padding: 3;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav a {
	   background-color:red;
				border-top-left-radius: 90px;
				border-top-right-radius: 90px;
					border-bottom-left-radius: 90px;
				border-bottom-right-radius: 90px;
					
    color: yellow;
    text-decoration: none;
      padding: 1rem;
}

main {
    padding: 2rem;
}
img {
  display: block;
  width: 20%;
  height: auto;
  background-color: orange;
  padding: 10px;
  border-radius: 100px;
  margin: 0 auto; 
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 10px;
  border-radius: 100px;
  margin: 0 auto;
footer {
		border-bottom-left-radius: 90px;
				border-bottom-right-radius: 90px;
    text-align: center;
font-size:20px;
	 padding-top:4px;
    background-color: yellow;
}
form{
	color:red;
	background-color:blue;
  width: 100%; 
  padding: 12px; 
}
